
#categoryPage-attractions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categoryCardAttraction {
    display: flex;
    flex-direction: column;
    height: 16rem;
    width: 20rem;
    border: 1px solid #ccc;
    
    img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
}